@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<div class="admin">
    <div class="main">

        <h1 class="color_11">Admin Panel</h1>
        <div class="grid_3">
            <div class="ref">
                <a href="/Admin/AddClothes">Add Clothes</a>
            </div>
        </div>
        <div class="grid_3">
            <div class="ref">
                <a href="/Admin/AddShoes">Add Shoes</a>
            </div>

        </div>
        <div class="grid_3">
            <div class="ref">
                <a href="/Admin/AddBags">Add Bags</a>
            </div>

        </div>
        <div class="grid_3">
            <div class="ref">
                <a href="/Admin/AddAccessories">Add Accessories</a>
            </div>

        </div>
        <div class="grid_3">
            <div class="ref">
                <a href="/Admin/ViewOrder">View Order</a>
            </div>

        </div>
        <div class="grid_3">
            <div class="ref">
                <a href="/Admin/Logout">LogOut</a>
            </div>

        </div>


    </div>
</div>

