@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

@using (Html.BeginForm("AddToCart", "MyCart", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container_12">
        <div class="row">
            <h5 class="font_8 col-lg-12 col-md-12 col-sm-12">Accessories</h5>
        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/earing.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/earings.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/CV-MCHAA70429717410-6-34-Craftsvilla.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # A01<br />
                US $ 10</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # A02<br />
                US $ 12</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # A03<br />
                US $ 15</span></p>

        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/delicate_girls_earring_round_square_girls_stylish.jpg_350x350.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/product-hugerect-449571-169254-1423071030-3f92cfbdab3d38d2b7dae9dae4999a6e.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/Red-Apple-Top-Quality-Simple-Cross-Rhinestone-Stud-Earrings-Cheap-18K-Gold-women-Stud-Earring.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # A04<br />
                US $ 10</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # A05<br />
                US $ 5</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # A06<br />
                US $ 5</span></p>

        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/unique-multi-color-ladies-bowknot-stud-earrings-for-girls.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/vintage_paris_style_womens_watch.png" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/New-Wrist-Watches-Designs-Collection-2013-For-Ladies-15.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # A07<br />
                US $ 5</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # A08<br />
                US $ 25</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # A09<br />
                US $ 30</span></p>

        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/Free-shipping-Fiana-font-b-watch-b-font-polymer-clay-fashion-table-student-table-font-b.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/Fashion-Fully-jewelled-Watches-Women-Ladies-Crystal-eidSteel-Wstches-With-Japan-Movt-8.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/e8b6829f2b44015a7f61dd43ff5d9a2c.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>

        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # A10<br />
                US $ 25</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # A11<br />
                US $ 18</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # A12<br />
                US $ 20</span></p>

        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/2013-fashion-design-ladies-wrist-watches.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/225531,xcitefun-diamond-watch.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/beautiful-wrist-bracelet-watch-for-women.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>

        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # A13<br />
                US $ 30</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # A14<br />
                US $ 18</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # A15<br />
                US $ 20</span></p>

        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>

        <footer>
            <p></p>
        </footer>
    </div>

}

