@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

       @using (Html.BeginForm("AddToCart", "MyCart", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container_12">
        <div class="row">
             <h5 class="font_8 col-lg-12 col-md-12 col-sm-12">Bags</h5>
        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/2013-elegant-apricot-woven-satin-prom-wedding.jpg" class="col-md-4 col-lg-4 col-sm-4"/>
            </a>
            <a href="#">
                <img src="~/Images/334-2013-New-Popular-Fashion-pu-leather-handbag-Women-Shoulder-Messenger-Bag-totes-for-female.jpg" class="col-md-4 col-lg-4 col-sm-4"/>
            </a>
            <a href="#">
                <img src="~/Images/bag-bags-clutch-clutches-Favim.com-813198.png" class="col-md-4 col-lg-4 col-sm-4"/>
            </a>
        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # B01<br/>US $ 20</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # B02<br/>US $ 18</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # B03<br/>US $ 20</span></p>
        </div>
         <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            
        </div>
         <div class="row">
            <a href="#">
                <img src="~/Images/Greg_Michaels_Leather_natalie_teal_mint_green.jpg" class="col-md-4 col-lg-4 col-sm-4"/>
            </a>
            <a href="#">
                <img src="~/Images/handmade-clutches-and-handbags-13.jpg" class="col-md-4 col-lg-4 col-sm-4"/>
            </a>
            <a href="#">
                <img src="~/Images/HT1Ct3MFFJXXXagOFbXX.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
        </div>
         <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # B04<br/>US $ 25</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # B05<br/>US $ 15</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # B06<br/>US $ 25</span></p>
            
        </div>
         <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            
        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/HTB1esZAHVXXXXXnXXXXq6xXFXXXL.jpg" class="col-md-4 col-lg-4 col-sm-4"/>
            </a>
            <a href="#">
                <img src="~/Images/images%20(1).jpg" class="col-md-4 col-lg-4 col-sm-4"/>
            </a>
            <a href="#">
                <img src="~/Images/images%20(2).jpg" class="col-md-4 col-lg-4 col-sm-4"/>
            </a>
        </div>
         <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # B07<br/>US $ 25</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # B08<br/>US $ 12</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # B09<br/>US $ 15</span></p>
            
        </div>
         <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            
        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/NEW-2012-Evening-Bag-Clutch-bags-Bride-Bag-Purse-Designer-Gentle-Pearl-Inlay-full-dress-Party.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/side-bags-for-girls-brand-hand-bag.jpg_220x220.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
           
        </div>
         <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # B10<br/>US $ 27</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # B11<br/>US $ 25</span></p>
            
        </div>
         <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            
        </div>
        
         <footer>
                <p></p>
            </footer>
    </div>
       }
