@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>



<script>
    $(document).ready(function () {
        $.fn.snow();
    });
</script>




<div class="main">
    <div class="grid_6">
        <h5 class="font_8">About Us</h5>
        <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.
        </p>
        <p>
            ​			This is a great space to write long text about your company and 				your services. You can use this space to go into a little more 					detail about your company.
        </p>
        <p><a href="#" class="button">More</a></p>

    </div>


    <div class="grid_6">
        <h5 class="font_8">Services</h5>
        <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.
        </p>
        <p>
            ​	 		This is a great space to write long text about your company and 			your services. You can use this space to go into a little more 				detail about your company.
        </p>
        <p><a href="#" class="button">More</a></p>
    </div>
    <footer>
        <p></p>
    </footer>

</div>

