@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
@using (Html.BeginForm("AddToCart", "MyCart", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container_12">
        <div class="row">
            <h5 class="font_8 col-lg-12 col-md-12 col-sm-12">Shoes</h5>
        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/6color-new-2013-pointed-toe-jelly-shoes-women-sandals-flat-heel-designer-melissa-shoes-girls-summer.jpg_350x350.jpg" class="col-md-4 col-lg-4 col-sm-4" />

            </a>
            <a href="#">
                <img src="~/Images/83397fc4f5cd94e03c3b51b4be84304f.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/Autumn-vintage-single-shoes-casual-flat-heel-comfortable-casual-shoes-color-block-decoration-bow-gommini-loafers.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # S01<br />
                US $ 15</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # S02<br />
                US $ 15</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # S03<br />
                US $ 17</span></p>

        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/2-lighte-color-Blowfish-sandals-and-flats.jpg" class="col-md-4 col-lg-4 col-sm-4" />

            </a>
            <a href="#">
                <img src="~/Images/Flowers-Gladiator-font-b-Girls-b-font-font-b-Sandals-b-font-Summer-style-sandalias-Sweet.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/Free-shipping-Hot-2013-Sweet-Color-Block-Decoration-Shallow-Mouth-Single-Shoes-Flats-Ladle-Shoes-Women.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # S04<br />
                US $ 20</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # S05<br />
                US $ 18</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # S06<br />
                US $ 20</span></p>

        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/images.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/img-thing.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/large.jpg" class="col-md-4 col-lg-4 col-sm-4" />

            </a>
        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # S07<br />
                US $ 21</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # S08<br />
                US $ 22</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # S09<br />
                US $ 22</span></p>

        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/Latest_2014_New_Style_Girls_Ballet_Flat.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/P16557615.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
            <a href="#">
                <img src="~/Images/StylishLadiesFlatsShoesClosedToeFlatsCasualOutdoorPuLeatheretteFlatHeelClosedToeOnlineLS99868-0.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>
        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # S10<br />
                US $ 20</p>
            <p><span class="center col-md-4 col-lg-4 col-sm-4">Code # S11<br />
                US $ 20</span></p>
            <p><span class="right col-md-4 col-lg-4 col-sm-4">Code # S12<br />
                US $ 20</span></p>
        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>
        <div class="row">
            <a href="#">
                <img src="~/Images/wedge4.jpg" class="col-md-4 col-lg-4 col-sm-4" />
            </a>

        </div>
        <div class="row">
            <p class="col-md-4 col-lg-4 col-sm-4">Code # S13<br />
                US $ 25</p>

        </div>
        <div class="row">
            <button type="submit" class="button col-md-4 col-lg-4 col-sm-4" value="AddToCart">Add to Cart</button>

        </div>

        <footer>
            <p></p>
        </footer>
    </div>
}

